<h1>Gallery</h1>

<%= link_to "Add Artwork to Gallery", new_artwork_path %>

<div class="cards">
  <% @artworks.each do |artwork| %>
    <div class="cards">
      <%= artwork.name %>
      <%= artwork.artist %>
      <%= artwork.category %>
      <%= artwork.description %>
      <%= link_to "View Artwork", artwork_path(artwork) %>
    </div>
  <% end %>
</div>




<%# <%= link_to "My bookings", user_bookings %> %>
