<h1>Gallery</h1>

<%= link_to "Add Artwork to Gallery", new_artwork_path %>

<div class="cards">
  <% @artworks.each do |artwork| %>
    <div class="cards">
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
      <%= artwork.name %>
      <%= artwork.artist %>
      <%= artwork.category %>
      <%= artwork.description %>
      <%= artwork.price %>
      <%= link_to "View Artwork", artwork_path(artwork) %>
    </div>
  <% end %>
</div>
