<h1><%= @artwork.name %></h1>

<img src="">
<p><%= @artwork.artist %></p>
<p><%= @artwork.category %></p>
<p><%= @artwork.description %></p>

<a><%= link_to "Remove this artwork", artwork_path(@artwork), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></a>

<% @artwork.bookings.each do |booking| %>

  <li><strong>From:</strong><%= booking.borrow_date %></li>
  <li><strong>To:</strong><%= booking.borrow_date %></li>
  <%= link_to "Delete this booking", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

<% end %>

<%= link_to "Create a new booking", new_artwork_booking_path(@artwork) %>


<%= link_to "Back to Gallery", artworks_path %>
