<h1><%= @artwork.name %></h1>

<%= cl_image_tag @artwork.photo.key, height: 300, width: 400, crop: :fill %>
<p><%= @artwork.artist %></p>
<p><%= @artwork.category %></p>
<p><%= @artwork.description %></p>
<p><%= link_to "Edit this artwork", edit_artwork_path(@artwork) %>
<br>
<p><%= link_to "Back to Gallery", artworks_path %>       <a><%= link_to "Remove this artwork", artwork_path(@artwork), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></a></p>
<br>

<% @artwork.bookings.each do |booking| %>
  <li><strong>Client:</strong><%= booking.user.first_name %> <%= booking.user.last_name %></li>
  <li><strong>From:</strong><%= booking.borrow_date %></li>
  <li><strong>To:</strong><%= booking.return_date %></li>
  <%= link_to "Open booking", booking_path(booking) %>
<% end %>
<br>
<br>
<%= link_to "Create a new booking", new_artwork_booking_path(@artwork) %>
