<div class="artwork-container">

  <div class="left-container">
    <div class="show_page">
      <h1><strong><%= @artwork.name %></strong></h1>
      <div class="show-image">
        <p class="artwork_img"><%= cl_image_tag @artwork.photo.key, width: 400  %></p>
      </div>
      <div class="show_card">
        <p><strong>Artist: </strong><%= @artwork.artist %></p>
      </div>
      <div class="show_card">
        <p><strong>Category: </strong><%= @artwork.category %></p>
      </div>
      <div class="show_card">
        <p><strong>Price: </strong><%= @artwork.price %></p>
      </div>
      <div class="show_card">
        <p><strong>Location: </strong><%= @artwork.location %></p>
      </div>
      <div class="show_card">
        <p><strong>Description: </strong><%= @artwork.description %></p>
      </div>
      <% if @artwork.user == current_user %>
        <button class="buttons"><%= link_to "Remove this artwork", artwork_path(@artwork), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
      <% end %>
    </div>

    <br>

    <br>
    <div class="artwork-reviews">
      <div class="review-head">
        <h4><% if @artwork.reviews.empty? %>
          <%= "No Reviews - Add one now!"%>
            <% else %>
          <%= "Reviews" %>
            <% end %></h4>
        <button class="review-add-button"><%= link_to "Add a review", new_artwork_review_path(@artwork) %></button>
      </div>
      <% @artwork.reviews.each do |review| %>
        <div class="my-booking">
          <div>
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <li><%= review.comment %></li>
            <li><%= review.user.first_name %> <%= review.user.last_name %>&nbsp&nbsp&nbsp&nbsp<em><%= review.created_at.strftime("%B %d %Y, %l:%M%P") %></em></li>
          </div>
          <div class="review-delete-button">
            <% if review.user == current_user %>
              <button id="delete-button"><%= link_to "Delete review", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></button>
            <% end %>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>

  <div class="booking-form frame" id="booking-frame">
    <h1><strong>Booking Form</strong></h1>
      <%= simple_form_for [@artwork, @booking] do |f| %>
      <%= f.input :borrow_date %>
      <%= f.input :return_date %>

      <%= f.submit "Book Now!", class: "form-button" %>
    <% end %>
  </div>


</div>
