<h1><%= @artwork.name %></h1>

<p><%= @artwork.photo %></p>
<p><%= @artwork.artist %></p>
<p><%= @artwork.category %></p>
<p><%= @artwork.description %></p>

<%= link_to "Back to Gallery", artworks_path %>
