<div>
<h1><strong><%= @booking.artwork.name %></strong></h1>
</div>
<br>
<%= cl_image_tag @booking.artwork.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<h3><strong>Client: </strong><%= @booking.user.first_name %> <%= @booking.user.last_name %></h3>
<br>
<ul>
  <li><strong>From:  </strong><%= @booking.borrow_date %></li>
  <br>
  <li><strong>To:  </strong><%= @booking.return_date %></li>
</ul>
<br>
<%= link_to "Edit this booking", edit_booking_path(@booking) %>
<%= link_to "Delete this booking", booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
