<div class="form-container">
  <br>
  <h2><strong>Edit profile:</strong></h2>
  <br>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :avatar, as: :file %>
    <br>
    <%= f.submit "Submit" %>
  <% end %>
</div>
