<div class="user-container">
  <div>
  <h1>My Profile</h1>
  <%= @user.first_name %>
  <%= @user.last_name %>
  </div>
  <br>


  <div class="bookings">
     <div class="upcoming-bookings">
      <% if @bookings.empty? %>
        <%= "No Upcoming Bookings"%>
      <% else %>
        <%= "My Bookings" %>
      <% end %>
   </div>
    <div class="user-bookings">
      <% @bookings.each do |booking|%>
      <% artwork = booking.artwork %>
      <div>
      <br>
        <strong><%= booking.artwork.name %></strong><em> by <%= booking.artwork.artist %></em>
        <br>
        <strong>From: </strong><%= booking.borrow_date%>
        <br>
        <strong>To: </strong><%= booking.return_date%>
        <br>
        <%= link_to "Open booking", booking_path(booking) %>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
