<div class="user-container">
  <div>
  <h1>My Profile</h1>
  <%= @user.first_name %>
  <%= @user.last_name %>
  </div>
  <br>

  <h4><% if @bookings.empty? %>
        <%= "No Upcoming Bookings"%>
      <% else %>
        <%= "My Bookings" %>
      <% end %></h4>

  <div class="bookings">
    <ul class="user-bookings">
      <% @bookings.each do |booking|%>
      <% artwork = booking.artwork %>
      <div>
      <br>
        <li><strong><%= booking.artwork.name %></strong><em> by <%= booking.artwork.artist %></em></li>
        <li><strong>From: </strong><%= booking.borrow_date%></li>
        <li><strong>To: </strong><%= booking.return_date%></li>
        <%= link_to "Open booking", booking_path(booking) %>
      </div>
      <br>
      <% end %>
    </ul>
  </div>
</div>
