<div class="footer">
  <ul style="list-style: none;", class="footer_components">
    <li>shart.team@lewagon.com</li>
    <li class="nav-item dropdown">
      <%= link_to "Help","#", class: "dropdown-toggle", id: "footerDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="footerDropdown">
        <%= link_to "cancellation", "#", class: "dropdown-item" %>
        <%= link_to "report an issue", "#", class: "dropdown-item" %>
        <%= link_to "help contact", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </li>
    <li class="nav-item dropdown">
      <%= link_to "shART","#", class: "dropdown-toggle", id: "footerDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="footerDropdown">
        <%= link_to "news", "#", class: "dropdown-item" %>
        <%= link_to "our values", "#", class: "dropdown-item" %>
        <%= link_to "work with us", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    </li>

    <li>
      <%= link_to "#" do %>
        <%= image_tag("facebook.png", class: "navbar-brand" ) %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= image_tag("instagram.png", class: "navbar-brand" ) %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= image_tag("twitter.png", class: "navbar-brand" ) %>
      <% end %>
    </li>
  </ul>
</div>
